body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	overflow: hidden;
}

html, body { 
	padding: 0; 
	margin: 0;
}

.debug
{
	position: absolute;
	top: 20px;
	left: 20px;
	height: auto;
	width: 33%;
	-moz-opacity:.70;
	filter:alpha(opacity=70);
	opacity:.70;
	border-radius: 20px;
	-moz-border-radius: 20px;
	background-color: #000000;
	padding: 10px;
	margin: 10px;
	font-family: monospace;
	font-size: 12px;
	color: #ffffff;
	overflow: auto;
	z-index: 99;
}

.job_info
{
	position: absolute;
	-moz-opacity:.70;
	filter:alpha(opacity=70);
	opacity:.70;
	border-radius: 20px;
	-moz-border-radius: 20px;
	background-color: #000000;
	color: #ffffff;
	overflow: auto;
	display: none;
	text-align: center;
}

#TextDimensionDiv
{
	position: absolute;
	visibility: hidden;
	height: auto;
	width: auto;
}

#Message
{
	border-radius: 60px;
	-moz-border-radius: 60px;
	color: #FFFFFF;
	font-size: 300%;
	text-align: center;
	z-index: 99;
}

.message_error {
	background-color: #550000;
}

.message_info {
	background-color: #888888;
}

.job_wrapper 
{
	text-align: center;
	background-color: #ADADAD;
	color: #FFFFFF;
}

.queued { 
	background-color: #DFC500;
}

.job_content { 
}

.job { 
	border-radius: 20px;
	-moz-border-radius: 20px;
}
