body {
	font-family: sans-serif;
	font-weight: bold;
	overflow: hidden;
}

html, body { 
	padding: 0; 
	margin: 0;
}

.debug
{
	position: absolute;
	top: 20px;
	left: 20px;
	height: auto;
	width: 33%;
	-moz-opacity:.70;
	filter:alpha(opacity=70);
	opacity:.70;
	border-radius: 20px;
	-moz-border-radius: 20px;
	background-color: #000000;
	padding: 10px;
	margin: 10px;
	font-family: monospace;
	font-size: 12px;
	color: #ffffff;
	overflow: auto;
	z-index: 99;
}

.job_info
{
	position: absolute;
	-moz-opacity:.70;
	filter:alpha(opacity=70);
	opacity:.80;
	border-radius: 20px;
	-moz-border-radius: 20px;
	background-color: #000000;
	color: #ffffff;
	overflow: auto;	
	text-align: center;
}

#TextDimensionDiv
{
	position: absolute;
	visibility: hidden;
	height: auto;
	width: auto;
}

#Message
{
	border-radius: 60px;
	-moz-border-radius: 60px;
	color: #FFFFFF;
	font-size: 300%;
	text-align: center;
	z-index: 99;
}

.message_error {
	background-color: #550000;
}

.message_info {
	background-color: #888888;
}

.job_wrapper 
{
	text-align: center;
	background-color: #ADADAD;
	color: #FFFFFF;
}

.queued { 
	background-color: #DFC500;
}

.job_content { 
}

.job {
	border-radius: 20px;
	-moz-border-radius: 20px;
} 


.default, .christmas, .boss, .dark, .colorblind {
    text-shadow: 0px -2px black;
    
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgba(163,163,163,0.5)),
      color-stop(1, rgba(113,113,113,0.5))
    );
    background-image: -moz-linear-gradient(
      center top,
      rgba(163,163,163,0.5) 0%,
      rgba(113,113,113,0.5) 100%
    );
}

.default {
	background-color: #ffffff;
}
.default.blue {
	background-color: #00CC00;	
}
.default.red {
	background-color: #C00000;	
}
.default.yellow {
	background-color: #C0C000;	
}
.default.aborted {
	background-color: #E8E6E6;	
}

.plain {
	background-color: #ffffff;
}
.plain.blue {
	background-color: #00CC00;	
}
.plain.red {
	background-color: #C00000;	
}
.plain.yellow {
	background-color: #C0C000;	
}
.plain.aborted {
	background-color: #E8E6E6;	
}

.colorblind {
	background-color: #ffffff;
}
.colorblind.blue {
	background-color: #BFD4FF;	
}
.colorblind.red {
	background-color: #FF9180;	
}
.colorblind.yellow {
	background-color: #FFF780;	
}
.colorblind.aborted {
	background-color: #EEEEEE;	
}

.dark {
	background-color: #000000;
}
.dark.blue {
	background-color: #00CC00;	
}
.dark.red {
	background-color: #C00000;	
}
.dark.yellow {
	background-color: #C0C000;	
}
.dark.aborted {
	background-color: #E8E6E6;	
}

.christmas {
	background-color: #000000;
}
.christmas.blue {
	background-color: #00CC00;	
}
.christmas.red {
	background-color: #C00000;	
}
.christmas.yellow {
	background-color: #C0C000;	
}
.christmas.aborted {
	background-color: #E8E6E6;	
}
		
.boss {
	background-color: #ffffff;
}
.boss.blue {
	background-color: #00C000;	
}
.boss.red {
	background-color: #00C000;	
}
.boss.yellow {
	background-color: #00C000;	
}
.boss.aborted {
	background-color: #E8E6E6;	
}
	
		
.building {
	/* stripes in progress bars */
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;			
	background-image: -webkit-gradient(linear, left top, right bottom,
						color-stop(.50, rgba(255, 255, 255, .50)), color-stop(.50, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .50)),
						color-stop(.75, rgba(255, 255, 255, .50)), color-stop(.75, transparent),
						to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .50) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .50) 50%, rgba(255, 255, 255, .50) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .50) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .50) 50%, rgba(255, 255, 255, .50) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .50) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .50) 50%, rgba(255, 255, 255, .50) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .50) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .50) 50%, rgba(255, 255, 255, .50) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .50) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .50) 50%, rgba(255, 255, 255, .50) 75%,
						transparent 75%, transparent);            
	
	/* time here needs to match paint interval to give a reasonable result */
	-webkit-animation: animate-stripes 1s linear infinite;
	-moz-animation: animate-stripes 1s linear infinite;       		
}

@-webkit-keyframes animate-stripes { 
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
} 


/* background image for claimed builds thanks to  http://www.patternify.com/ */
.claimed {
    background-image: url(
'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkwARngEIm6MKMaAIwRRiKkRWiS6LwYQqxWge0DS4OUohLEcxVYHl0N2LxG1joDLEKGYhWCADiSQnVzU6+awAAAABJRU5ErkJggg=='
   ), -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgba(163,163,163,0.5)),
      color-stop(1, rgba(113,113,113,0.5))
    );
    background-image: url(
'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkwARngEIm6MKMaAIwRRiKkRWiS6LwYQqxWge0DS4OUohLEcxVYHl0N2LxG1joDLEKGYhWCADiSQnVzU6+awAAAABJRU5ErkJggg=='
   ), -moz-linear-gradient(
      center top,
      rgba(163,163,163,0.5) 0%,
      rgba(113,113,113,0.5) 100%
    );
}


