body {
	font-family: sans-serif;
	font-weight: bold;
	overflow: hidden;
}

html, body { 
	padding: 0; 
	margin: 0;
}

.debug
{
	position: absolute;
	top: 20px;
	left: 20px;
	height: auto;
	width: 33%;
	-moz-opacity:.70;
	filter:alpha(opacity=70);
	opacity:.70;
	border-radius: 20px;
	-moz-border-radius: 20px;
	background-color: #000000;
	padding: 10px;
	margin: 10px;
	font-family: monospace;
	font-size: 12px;
	color: #ffffff;
	overflow: auto;
	z-index: 99;
}

.job_info
{
	position: absolute;
	-moz-opacity:.70;
	filter:alpha(opacity=70);
	opacity:.70;
	border-radius: 20px;
	-moz-border-radius: 20px;
	background-color: #000000;
	color: #ffffff;
	overflow: auto;
	display: none;
	text-align: center;
}

#TextDimensionDiv
{
	position: absolute;
	visibility: hidden;
	height: auto;
	width: auto;
}

#Message
{
	border-radius: 60px;
	-moz-border-radius: 60px;
	color: #FFFFFF;
	font-size: 300%;
	text-align: center;
	z-index: 99;
}

.message_error {
	background-color: #550000;
}

.message_info {
	background-color: #888888;
}

.job_wrapper 
{
	text-align: center;
	background-color: #ADADAD;
	color: #FFFFFF;
}

.queued { 
	background-color: #DFC500;
}

.job_content { 
}

.job {
	border-radius: 20px;
	-moz-border-radius: 20px;
    
    text-shadow: 0px -2px black;
    
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(163,163,163,0.5)),
    color-stop(0.5, rgba(113,113,113,0.5)),
    color-stop(0.5, rgba(68,68,68,0.5)),
    color-stop(1, rgba(110,110,110,0.5))
    );
    background-image: -moz-linear-gradient(
    center top,
    rgba(163,163,163,0.5) 0%,
    rgba(113,113,113,0.5) 50%,
    rgba(68,68,68,0.5) 50%,
    rgba(110,110,110,0.5) 100%
    );
}
